@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    Lanna B<br />
    Detroit, MI 48226<br />
    <abbr title="Phone">P:</abbr>
    123.456.7890
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:lanna_lmb@hotmail.com">Lanna_lmb@hotmail.com</a><br />
    <strong>Someone Who Cares:</strong> <a href="mailto:something@whatever.com">Something@whatever.com</a>
</address>