@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1 style="text-align:center">Lanna's Coffee Shop Application</h1><br />
    <p class="lead" style="text-align:center">How many software engineers does it take to change a lightbulb?</p>
    <p style="text-align:center">None - That's a hardware problem.</p>
    <p style="text-align:center"><img src="../images/jobbie.jpg" alt="Job Searching Like" width="300" height="300" title="Job Searching Like"></p>
</div>


<div class="row">
    <div class="col-md-4">
        <h2>COFFEE!!!</h2>
        <p>
            Do You Love Coffee?  Because We Love Coffee!  Coffee, Coffee, Coffee!!
        </p>
        <p><a class="btn btn-default" href="https://img.memesuper.com/400b3f40005780ea01cefec9b9a118dc_programmer-meme-memesuper-programmer-meme-meme-programmer-programming-memes-funny_436-304.jpeg">How I Feel When My Code Works &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>I Hope I Pass The Assessment</h2>
        <p>Not Sure If I Am A Good Programmer Or Just Good At Googling</p>
        <p><a class="btn btn-default" href="https://cdn.meme.am/cache/instances/folder507/500x/57775507.jpg">But Seriously... &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>I Can Show You The World..</h2>
        <p>This Song Was Stuck In My Head Because Kim Was Singing It Yesterday At The End Of The Day</p>
        <p><a class="btn btn-default" href="http://www.oystermag.com/sites/default/files/wp-archive/2010/11/i-can-show-you-the-world.gif">Shining Shimmering Splendid &raquo;</a></p>
    </div>
</div>